# ===== 必填 =====
JWT_SECRET_KEY=69eb27e81704f2dd0ac6a5a90b9cbc12804e38361af87cc8b695c2de7471ccf0
OPENAI_KEY=sk-proj-...
GEMINI_API_KEY=AIza...
TAVILY_API_KEY=tvly-dev-...

# ===== 選填：Email =====
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

# ===== 選填：Redis =====
REDIS_URL=
